<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <style>
      #header {
        height: 100px;
        width: 100%;
        padding: 1rem;
        font-weight: bold;
        justify-content: space-between;
      }
      #footer {
        position: fixed;
        bottom: 0;
        width: 100%;
       }
       #title{
         text-align: center;
         font-size: 100px;
       }
       .icon{
         width: 18%;
       }
    </style>
  </head>
  <body>
    <div id="header">
      <h1 id="title">FORDER</h1>
    </div>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
      LOGIN
    </button>
    <!-- 로그인 모달 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <form class="" action="index.html" method="post">
              <div class="form-group">
                <label for="exampleInputEmail1">ID</label>
                <input type="email" class="form-control" placeholder="이메일을 입력하세요">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">PW</label>
                <input type="password" class="form-control" placeholder="암호">
              </div>
              <button type="submit" class="btn btn-default">LOGIN</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="footer">
      <a href="#"><img class="icon" src="../../../resources/static/img/icon-home.png"></a>
      <a href="/alarm"><img class="icon" src="../../../resources/static/img/icon-alarm.png"></a>
      <img class="icon" src="../../../resources/static/img/icon-map.png">
      <img class="icon" src="../../../resources/static/img/icon-like.png">
      <img class="icon" src="../../../resources/static/img/icon-user.png">
    </div>
  </body>
</html>

<script>

</script>
